//registry.npmjs.org/:username=ridleywinters
//registry.npmjs.org/:email=nospam@example.com
//registry.npmjs.org/:_authToken=${RAIMENT_NPM_PUBLISH_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true